
# ── Backend ──────────────────────────
.env
backend/bin/
backend/obj/
backend/*.user
backend/.vs/
backend/appsettings.Development.json

# ── Flutter ───────────────────────────
flutter/.dart_tool/
flutter/build/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/pubspec.lock